/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del body */
body {
    background-image: url('/img/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Estilos del formulario */
.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 300px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: auto; 
    margin-right: auto; 
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #333;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}

.login-form p {
    font-size: 10px;
    color: #ff0000;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form form input::placeholder {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-form form button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    align-self: center;
    margin-top: 15px;
    width: 100%;
}

.login-form form button:hover {
    background-color: #0056b3;
}

.form-group {
    padding-bottom: 10px;
}

.login-form a {
    text-decoration: none;
}

.login-form a p {
    padding-top: 10px;
    color: blue;
    font-size: 12px;
}

/* Media Query para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .login-form {
        width: 90%;
    }

    .login-form h2 {
        font-size: 24px;
    }

    .login-form form input {
        padding: 5px;
    }

    .login-form form button {
        padding: 5px;
        width: 100%;
    }

    .login-form form button:hover {
        background-color: #0056b3;
    }

    .form-group {
        padding-bottom: 5px;
    }

    .login-form p {
        font-size: 12px;
    }

    .login-form a {
        text-decoration: none;
    }

    .login-form a p {
        padding-top: 10px;
        color: blue;
        font-size: 12px;
    }

    .login-form form input::placeholder {
        font-size: 8px;
    }
}
