* {
    font-style: normal;
    text-decoration: none !important;
}

html {
    padding: 0;
}

body {
    padding: 0;
}

/* HEADER */

header {
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0 2.5vh;
    top: 0;
    z-index: 1;
    font-weight: 600;
}

header div {
    text-align: right;
}

header p {
    font-size: 1.6vh;
    transition: 0.3s;
    margin: 0;
    font-weight: 500;
}

header h4 {
    margin: 0;
}

header a {
    text-decoration: none;
    color: black;
}

header button {
    font-weight: 600;
    border: 0;
    background-color: transparent;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
}

header img {
    justify-content: left;
    height: 5vh;
    transition: height 0.3s ease;
}

i {
    color: black;
}

.fixed-top {
    padding: 0;
    border-radius: 10vh;
    margin: 1vh;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4); */
}

.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.offcanvas-body {
    padding-top: 0 !important;
}

.offcanvas.hiding,
.offcanvas.show,
.offcanvas.showing {
    transition: 0.25s !important;
    width: 30vh !important;
    max-height: 45vh;
    border-radius: 3vh;
    margin: 1vh !important;
    height: fit-content;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4); */
}

.navbar-brand {
    height: 4vh;
}

.cerrar {
    padding: 0 !important;
}

/* HAMBURGUESA/CRUZ NAVBAR */

.toggler-icon {
    width: 30px;
    height: 3px;
    background-color: black;
    display: block;
    transition: all 0.2s;
    border-radius: 1vh;
}

.middle-bar {
    margin: 5px auto;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
    background-color: black;
}



/* ETIQUETAS */

.etiquetas {
    width: 90vw;
    position: fixed;
    display: flex;
    top: 8vh;
    z-index: 1000;
    overflow: auto;
    white-space: nowrap;
}

.etiquetas p {
    margin: 0 2vh;
}

.etiquetas::-webkit-scrollbar {
    height: 0;
    background-color: transparent;
}

.etiquetas::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 3vh;
    border: solid 2px rgb(190, 190, 190);
}

.etiqueta {
    border: 0;
    display: inline-block;
    border-radius: 3vh;
    padding: 0.5vh 0;
    background-color: white;
    width: max-content;
    margin: 0 0.25vh;
}

.etiquetaFav {
    display: inline-block;
    border-radius: 3vh;
    background-color: white;
    width: max-content;
    margin: 0 0.25vh;
    border: black solid 2px;
}

.añadirEtqueta {
    display: inline-block;
    border-radius: 3vh;
    background-color: white;
    width: max-content;
    margin: 0 0.25vh;
    border: black solid 2px;
}



/* MAPA */
#map {
    height: 100vh;
}

.leaflet-control-zoom {
    display: none;
}

/* INFO ABAJO */

#infoabajo {
    background-color: white;
    width: 100%;
    border-radius: 3vh 3vh 0 0;
    margin: -40vh 0vh 1vh;
    position: fixed;
    z-index: 1000;
    max-height: 50vh;
    overflow-y: auto;
    height: 40vh;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4); */
    overflow-x: hidden;
}

.sitioMapaInfo {
    margin: 3vh 0;

}

.separacionSitios {
    width: 100%;
    border: solid 0.4vh #dadce0;
    margin: 0vh -2vh;
}

.infoSitio {
    width: 100%;
    margin: 0 2vh;
}

.infoSitio button {
    width: 40%;
    border-radius: 3vh;
    background-color: #f1f4f8;
    border: 0;
    margin-right: 1.5vh;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4); */
}

.botonesSitios {
    width: 50vh;
    margin: auto;
}

.etiquetasSitios {
    display: flex;
    overflow: auto;
}

.etiquetasSitios p {
    background-color: #f1f4f8;
    border-radius: 3vh;
    margin: 0.5vh;
    padding: 0.5vh 1.5vh;
    margin-bottom: 2.5vh;
    font-weight: 500;
    font-size: 1.6vh;
    transition: 0.3s;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4); */
}

.etiquetasSitios::-webkit-scrollbar {
    display: none;
}


/* TODAS LAS GIMCANAS */

.todasgimcanas {
    width: 90vw;
    height: 100%;
    margin: 8vh auto;
}

.todasgimcanas a {
    color: black;
}

.todasgimcanas h2 {
    margin: auto;
    text-align: center;
}

.todasgimcanas h4 {
    margin: 0;
}

.gimcanas {
    background-color: #f1f4f8;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin: 3vh 0;
    padding: 2vh;
    border-radius: 3vh;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4); */
}

.gimcanas p,
.gimcanas h6 {
    margin: 0;
}

.izqGimcanas {
    width: 80%;
}


.derGimcanas {
    margin: auto 0;
    text-align: right;
    width: 20%;
}


/* MENU GIMCANA */

.menugimcana {
    width: 90vw;
    height: 100%;
    margin: 9vh auto;
}

.menugimcana h2 {
    width: 100%;
    margin: 3vh 0;
    text-align: center;
}

.grupogimcana {
    border: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin: 3vh 0;
    background-color: #f1f4f8;
    padding: 1vh 2vh;
    border-radius: 3vh;
}

.grupogimcanaLleno {
    background-color: #c7c7c7;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin: 3vh 0;
    padding: 1vh 2vh;
    border-radius: 3vh;
}

.botonEntrarGrupo {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.botonEntrarGrupo:hover {
    background-color: black;
    color: white;
}

.botonGrupoLleno {
    text-decoration: none;
    color: black;
    transition: 0.3s;
    background-color: black;
}

.botonGrupoLleno:hover {
    background-color: black;
    color: white;
}

.grupogimcana h4,
.grupogimcana h5,
.grupogimcana h6,
.grupogimcana i,
.grupogimcanaLleno h4,
.grupogimcanaLleno h5,
.grupogimcanaLleno h6,
.grupogimcanaLleno i,
.grupogimcanaLleno p {
    margin: auto 0;
}

.creargupogimcana {
    width: 30%;
    margin: 3vh auto;
    border-radius: 3vh;
    text-align: center;
    font-size: 3.5vh;
    background-color: #f1f4f8;
}


/* PAGINA ESPERA GIMCANA */

.esperagimcana {
    width: 90vw;
    height: 100%;
    margin: auto;
    margin-top: 70%;
}

.esperagimcana h5,
.esperagimcana h4 {
    text-align: center;
}

.esperarconfirmacion p {
    text-align: center;
    font-size: 2.25vh;
}

.contenedor-loader {
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto;
}

.contenedor-loader div {
    width: 20%;
    height: 5px;
    background-color: black;
    animation: salto 0.7s alternate infinite;
}

.contenedor-loader div:nth-child(2) {
    animation-delay: 0.20s;
}

.contenedor-loader div:nth-child(3) {
    animation-delay: 0.40s;
}

.contenedor-loader div:nth-child(4) {
    animation-delay: 0.60s;
}

@keyframes salto {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}



/* PAGINA CREAR GRUPO */

.formcreargrupo {
    width: 90vw;
    height: 100%;
    margin: auto;
    margin-top: 11vh;
}

.formcreargrupo h2 {
    text-align: center;
    margin-bottom: 2vh;
}

.nuevogrupo label {
    width: 100%;
    font-weight: 600;
    margin: 0 0 0.5vh 1.5vh;
}

.nuevogrupo input,
.nuevogrupo select {
    width: 100%;
    margin-bottom: 2vh;
    border-radius: 3vh;
    border: 0;
    padding: 0.5vh 2vh;
    background-color: #f1f4f8;
}

.nuevogrupo button {
    width: 100%;
    margin-top: 1vh;
    border-radius: 3vh;
    border: 0;
    padding: 1vh 2vh;
    background-color: #dadce0;
    font-weight: 600;
}