* {
    font-style: normal;
    text-decoration: none !important;
}

html {
    padding: 0;
}

body {
    padding: 0;
}

/* HEADER */

header {
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0 2.5vh;
    top: 0;
    z-index: 1;
}

header div {
    text-align: right;
}

header p {
    margin: 0 2vh;
    font-size: 1.6vh;
    transition: 0.3s;
}

header a {
    text-decoration: none;
    color: white;
}

header img {
    justify-content: left;
    height: 5vh;
    transition: height 0.3s ease;
}

i {
    color: black;
}

.fixed-top {
    padding: 0;
    border-radius: 10vh;
    margin: 1vh;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.offcanvas.hiding,
.offcanvas.show,
.offcanvas.showing {
    transition: 0.25s !important;
    width: 30vh !important;
    border-radius: 3vh;
    margin: 1vh;
    height: fit-content;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.navbar-brand {
    height: 4vh;
}

.cerrar {
    padding: 0 !important;
}

/* HAMBURGUESA/CRUZ NAVBAR */

.toggler-icon {
    width: 30px;
    height: 3px;
    background-color: black;
    display: block;
    transition: all 0.2s;
    border-radius: 1vh;
}

.middle-bar {
    margin: 5px auto;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
    background-color: black;
}



/* ETIQUETAS */

/* header {
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0 2.5vh;
    top: 0;
    z-index: 1;
} */

.etiquetas {
    width: 90vw;
    position: fixed;
    display: flex;
    top: 8vh;
    z-index: 1000;
    overflow: auto;
    white-space: nowrap;
}

.etiquetas::-webkit-scrollbar {
    height: 0;
    background-color: transparent;
}

.etiquetas::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 3vh;
    border: solid 2px rgb(190, 190, 190);
}

.etiqueta {
    display: inline-block;
    border-radius: 3vh;
    padding: 0.5vh 0;
    background-color: white;
    width: max-content;
    margin: 0 0.25vh;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}



/* MAPA */
#map {
    height: 100vh;
}

.leaflet-control-zoom {
    display: none;
}

/* INFO ABAJO */
#infoabajo {
    background-color: white;
    width: 100%;
    padding: 2vh;
    border-radius: 3vh 3vh 0 0;
    margin: -40vh 0vh 1vh;
    position: fixed;
    z-index: 1000;
    max-height: 50vh;
    overflow-y: auto;
    height: 40vh;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}